<!-- navbar.component.html -->
<header class="navbar" [class.scrolled]="scrolled">
  <div class="navbar__inner container">

    <a class="navbar__logo" routerLink="/sites/home">
      <span class="logo-mark">DO</span>
      <span class="logo-text">Diallo<em>Oumar</em></span>
    </a>

    <nav class="navbar__links" [class.open]="menuOpen">
  <ng-container *ngFor="let link of navLinks">
    
    <!-- Lien INTERNE (Pages du site) -->
    <a *ngIf="!link.isExternal" 
       [routerLink]="link.href" 
       (click)="menuOpen = false">
      {{ link.label }}
    </a>

    <!-- Lien EXTERNE (WhatsApp) -->
    <a *ngIf="link.isExternal" 
       [href]="link.href" 
       target="_blank" 
       (click)="menuOpen = false">
      {{ link.label }}
    </a>

  </ng-container>
</nav>


    <a class="btn btn--primary navbar__cta" href="mailto:do25595@gmail.com">
      Contact
    </a>

    <button class="navbar__burger" (click)="menuOpen = !menuOpen" aria-label="Menu">
      <span [class.open]="menuOpen"></span>
    </button>

  </div>
</header>