<!-- OVERLAY -->
<div 
  class="nav-overlay" 
  *ngIf="menuOpen"
  (click)="toggleMenu()">
</div>

<header class="navbar" [class.scrolled]="scrolled">
  <div class="navbar__inner container">

    <a class="navbar__logo" routerLink="/sites/home">
      <span class="logo-mark">DO</span>
      <span class="logo-text">Diallo<em>Oumar</em></span>
    </a>

    <!-- NAV -->
    <nav class="navbar__links" [class.open]="menuOpen">

      <ng-container *ngFor="let link of navLinks">
        <a 
          *ngIf="!link.isExternal"
          [routerLink]="link.href"
          (click)="toggleMenu()"
        >
          {{ link.label }}
        </a>

        <a 
          *ngIf="link.isExternal"
          [href]="link.href"
          target="_blank"
          (click)="toggleMenu()"
        >
          {{ link.label }}
        </a>
      </ng-container>

    </nav>

    <a class="btn btn--primary navbar__cta" href="mailto:do25595@gmail.com">
      Contact
    </a>

    <button class="navbar__burger" (click)="toggleMenu()">
      <span [class.open]="menuOpen"></span>
    </button>

  </div>
</header>